body
{
	background-color:white;
}
hr
{
	margin-top: 40px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0; 
}
#details-headings
{
	color:#4ac948;
}
#internship-heading
{
	text-align: center;
	text-decoration: underline;
	margin-top:50px;
}
#company-name
{
	color:#4d4dff;
	font-size:1.4em;
}
.intern
{
	margin-top:50px;
}
#internship-type
{
	font-size:1.4em;
	margin-bottom:-10px;
}
#loc
{
	margin-bottom: 40px;
}
table
{
	border-collapse: collapse;
	width:100%;
	text-align: center;
}
td
{
	font-size:1.2em;
	text-align: center;
	padding-right: 100px;
	padding-bottom:0.5em;
}
#internships
{
	padding-bottom:10px;
}
#location
{
	font-size:1.2em;
	color:#4d4dff;
}
.intern a:link
{
	text-decoration:;
}
#about span
{
	text-decoration: underline;
	font-size:1.4em;
}
p
{
	font-size: 1.1em;
	letter-spacing: 0.1px;
	margin-top: 10px;
}
#about-intern
{
	margin-bottom: 10px;
	font-size:1.3em;
	text-decoration: underline;
}
#about-company
{
	margin-bottom:10px;
	font-size:1.3em;
	text-decoration: underline;
}